<div class="box">
  <div class="login">
    <form class="form">
      <h4>Crear cuenta</h4>
      <p type="name:">
        <input
          [(ngModel)]="user.name"
          name="user.name"
          placeholder="Escriba su nombre"
        />
      </p>
      <p type="identification_card:">
        <input
          [(ngModel)]="user.identification_card"
          name="user.identification_card"
          placeholder="Escribe su cedula"
        />
      </p>
      <p type="phone:">
        <input
          [(ngModel)]="user.phone"
          name="user.phone"
          placeholder="Escribe su numero de telefono"
        />
      </p>
      <p type="password:">
        <input
          [(ngModel)]="user.password"
          type="password"
          name="user.password"
          placeholder="Escribe su numero de seguridad"
        />
      </p>
      <p type="balance:">
        <input
          [(ngModel)]="user.balance"
          name="user.balance"
          placeholder="cantidad inicial"
        />
      </p>
      <button (click)="createCount()">Abrir cuenta</button>
    </form>
  </div>
</div>
