*{
    margin: 0px;
    padding: 0px;
}
.box{
    
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
 }

 .img{
    width: 200px;
    height: 200px;
 }
 .box2{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.box3{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.table{
    width: 700px;
    margin-left: 25%;
    margin-top: 2rem;
    background-color: aliceblue;
    border-radius:2px ;
}
.container{
    background-image:url(../../../../assets/images/65295.png) ;
    background-position: absolute;
    height: 100vh;
    width: 100%;

}
h4{
    color: aliceblue;
}
h6{
    color: aliceblue;
}